.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .buttons{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    button{
      outline: none;
      width: 20%;
      height: 50px;
    }
  }
}

