<!-- <label>{{serverName}}</label> -->
<!-- <input type="text" (input)='onUpdateServerName($event)'>
 -->
<input type="text" [(ngModel)]='serverName'>
<button (click)='onCreateServer()' [disabled]='!allowNewServer'>Add server</button>
<!-- <p>{{serverCreationSatus}}</p> -->
<p *ngIf='serverCreated; else noServer'>Server was created, server name is {{serverName}}! </p>
<ng-template #noServer>
    <p>No Server was created!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
<!-- <input type="text" [(ngModel)]='username'>
<p>{{username}}</p>
<button (click)='onClick()' [disabled]='!username'>Click ME</button> -->
<button (click)="onClick()">Display Details</button>
<p *appUnless="!displayDetails">Secret Password = 'Tuna'</p>
<p *ngFor="let number of buttonClickLogs; let i = index;" [ngClass]="{
blue: i > 3
}">{{number}}</p>
